<!-- About the company -->
<section class="lg:mx-auto mx-5 lg:w-2/3 py-10">
    <p class="text-center font-bold text-4xl text-gray-800 py-5">Who we are</p>
    <p class="text-2xl text-center">XYZ is a Bangalore-based media company which shares gallery of high quality images to select members. Please contact the admin in case you want to access these images yourself.</p>
</section>

<!-- Team Members -->
<section class="py-10">
    <p class="text-center font-bold text-4xl text-gray-800 py-5">Meet our team</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-20 mx-5 mt-20">
        <div *ngFor="let member of members;let i = index" class="flex flex-col justify-center bg-gray-700 text-gray-300 items-center rounded-md">
            <img class="w-24 h-24 -mt-12 bg-center bg-cover rounded-full" [src]="'https://source.unsplash.com/100x100/?portrait?' + i" alt="profile picture">
            <div class="flex-1 my-4">
                <p class="text-xl font-semibold">{{member.name}}</p>
                <p class="text-center">{{member.designation | titlecase}}</p>
                <p class="my-2 text-center space-x-3">
                    <a [href]="member.linkedin"><i class="bi bi-linkedin cursor-pointer hover:text-gray-500 transition-colors"></i></a>
                    <a [href]="member.instagram"><i class="bi bi-instagram cursor-pointer hover:text-gray-500 transition-colors"></i></a>
                    <a [href]="member.twitter"><i class="bi bi-twitter cursor-pointer hover:text-gray-500 transition-colors"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>