<mention-users></mention-users>

<!-- Main -->
<section class="text-gray-800">
    <div class="container flex p-6 mx-auto lg:min-h-1/2">
      <div class="flex flex-col justify-center p-6 text-center lg:text-left max-w-xl rounded-sm mx-auto lg:ml-0">
        <h1 class="text-4xl font-semibold sm:text-5xl">Access a gallery full of Great Images</h1>
        <p class="my-8 text-lg">This is the gallery of some of the best hand-picked stock images</p>
      </div>
      <div class="public-gallery grid-cols-2 gap-4 rounded-xl overflow-hidden hidden lg:grid">
        <div *ngFor="let idx of [1,2,3,4]" class="relative">
            <p class="text-white bg-gray-900/20 backdrop-blur absolute inset-0 z-1 cursor-pointer flex justify-center items-center text-center text-2xl opacity-0 hover:opacity-100 transition-opacity">Image description</p>
            <img class="aspect-square" [src]="'https://source.unsplash.com/random/200x200/?' + idx" alt="random image">
        </div>
      </div>
    </div>
</section>


<!-- Customer Reviews -->
<section class="my-20">
    <div class="text-center pb-10">
        <h1 class="text-4xl font-semibold text-gray-800">What our customers are saying about us</h1>
    </div>
    <div class="container mx-auto grid grid-cols-1 gap-8 lg:gap-20 md:px-10 md:pb-10 lg:grid-cols-2">
        <div class="flex flex-col items-center mx-12 lg:mx-0">
            <div class="relative text-center">
                <p class="absolute top-0 left-0 w-8 h-8 text-gray-300 text-6xl">&quot;</p>
                <p class="px-8 py-1 text-lg italic">They have some of the best images I've seen. Be sure to check them out.</p>
                <p class="absolute bottom-0 right-0 w-8 h-8 text-gray-300 text-6xl">&quot;</p>
            </div>
            <span class="w-12 h-1 my-2 rounded-lg bg-violet-600"></span>
            <p>John Doe</p>
        </div>
        <div class="flex flex-col items-center mx-12 lg:mx-0">
            <div class="relative text-center">
                <p class="absolute top-0 left-0 w-8 h-8 text-gray-300 text-6xl">&quot;</p>
                <p class="px-8 py-1 text-lg italic">Yeah, I agree with John on this one. These images are great and I can watch them again and again.</p>
                <p class="absolute bottom-0 right-0 w-8 h-8 text-gray-300 text-6xl">&quot;</p>
            </div>
            <span class="w-12 h-1 my-2 rounded-lg bg-violet-600"></span>
            <p>John's wife</p>
        </div>
    </div>
</section>  